@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    var backPage = Model.GetCheckoutBackPage();
    var prevStep = Model.GetPreviousStepPage();
    var nextStep = Model.GetNextStepPage();

    var themeColor = Model.GetThemeColor();
}
<div class="flex flex-col-reverse items-center justify-between mt-8 md:flex-row">
    @if (prevStep != null)
    {
        <div><a href="@(prevStep.Url)" class="text-@(themeColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(prevStep.Name)</a></div>
    }
    else if (backPage != null)
    {
        <div><a href="@(backPage.Url)" class="text-@(themeColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(backPage.Name)</a></div>
    }
    else
    {
        <div></div>
    }
    @if (nextStep != null)
    {
        <div class="mb-4 w-full md:mb-0 md:w-auto">
            <button id="continue" class="bg-@(themeColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="submit">Continue to @(nextStep.Name)</button>
        </div>
    }
</div>