@using Umbraco.Web.Composing;
@model Vendr.Core.Models.OrderReadOnly
@{
    var order = Model;

    var currentPage = Current.UmbracoContext.PublishedRequest.PublishedContent;
    var checkoutPage = currentPage.GetCheckoutPage();

    var paymentCountryName = order.PaymentInfo.CountryId.HasValue
        ? VendrApi.Instance.GetCountry(order.PaymentInfo.CountryId.Value).Name
        : null;
    var shippingCountryName = order.ShippingInfo.CountryId.HasValue
        ? VendrApi.Instance.GetCountry(order.ShippingInfo.CountryId.Value).Name
        : null;
}
<div class="border border-gray-300 p-6 rounded mb-8">
    <h3 class="text-xl font-medium mb-4">Contact Information</h3>
    <p class="mb-4">@order.CustomerInfo.Email</p>

    <div class="flex w-full -mx-2">
        <div class="flex-1 mx-2">
            <h3 class="text-xl font-medium mb-4">Billing Information</h3>
            <p class="">
                <strong>@order.CustomerInfo.FirstName @order.CustomerInfo.LastName</strong>
                <br />
                @Html.Raw(string.Join("<br />", new string[] {
                    order.Properties["billingAddressLine1"],
                    order.Properties["billingAddressLine2"],
                    order.Properties["billingCity"],
                    paymentCountryName,
                    order.Properties["billingZipCode"]
                }.Where(x => !x.IsNullOrWhiteSpace())))
            </p>
        </div>
        @if (checkoutPage.Value<bool>("vendrCollectShippingInfo"))
        {
            <div class="flex-1 mx-2">
                <h3 class="text-xl font-medium mb-4">Shipping Information</h3>
                <p class="">
                    <strong>@order.Properties["shippingFirstName"] @order.Properties["shippingLastName"]</strong>
                    <br />
                    @Html.Raw(string.Join("<br />", new string[] {
                        order.Properties["shippingAddressLine1"],
                        order.Properties["shippingAddressLine2"],
                        order.Properties["shippingCity"],
                        shippingCountryName,
                        order.Properties["shippingZipCode"]
                    }.Where(x => !x.IsNullOrWhiteSpace())))
                </p>
            </div>
        }
    </div>
</div>